:root {
  --main-color: #ff6900;
  --second-color: #f54a00;
  --third-color: #ffedd4;
  --light-gray: #6a7282;
  --gray: #4a5565;
  --dark-gray: #364153;
  --color-black: #101828;
  --text-green: #008236;
  --bg-green: #dcfce7;
  --text-blue: #1447e6;
  --bg-blue: #dbeafe;
}

body {
  font-family: sans-serif;
  background-color: var(--third-color);
}

a {
  color: inherit;
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.navbar {
  background-color: white;
  padding-block: 16px;
}

.nav-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--second-color);
  color: white;
  font-size: 1.25rem;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}

h1 {
  font-size: 1.125rem;
  color: var(--color-black);
  font-weight: 700;
}

nav p {
  font-size: 0.75rem;
  color: var(--light-gray);
}

.nav-item img {
  width: 2.25rem;
  height: 2.25rem;
  border: 2px solid #ffb86a;
}

.navbar-nav .nav-item i {
  font-size: 1rem;
  color: var(--gray);
  margin-right: 0.75rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--main-color);
}

.navbar-nav .nav-item .nav-link:hover i {
  color: var(--main-color);
}

main {
  padding: 2rem 1.5rem;
}
.container {
  background-color: white;
  max-width: 80rem;
}

.col-7 {
  padding: 2.5rem;
}

.rate-and-review {
  background-color: white;
  padding: 0.5rem 1rem;
  top: 1.5rem;
  left: 1.5rem;
}

.rate-and-review i {
  color: #fdc700;
}

.rate-num {
  font-weight: 600;
}

.reviews-num {
  color: var(--light-gray);
  font-size: 0.875rem;
}

.details-cooked {
  background-color: white;
  padding: 1.5rem;
  bottom: 1.5rem;
  left: 1.5rem;
}

.prep-time i {
  color: #ff6900;
  font-size: 1.5rem;
}

.cock-time i {
  color: #fb2c36;
  font-size: 1.5rem;
}

.servings i {
  color: #2b7fff;
  font-size: 1.5rem;
}

.prep-time span:nth-of-type(1),
.servings span:nth-of-type(1) {
  color: var(--light-gray);
  font-size: 0.875rem;
}

.prep-time span:nth-of-type(2),
.servings span:nth-of-type(2) {
  font-weight: 700;
}

.cook-time-text {
  color: var(--light-gray);
  font-size: 0.875rem;
}

.cook-time-value {
  font-weight: 700;
}

.meal-difficulty,
.meal-country {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

.meal-difficulty {
  color: var(--text-green);
  background-color: var(--bg-green);
  margin-right: 0.75rem;
}

.meal-country {
  color: var(--text-blue);
  background-color: var(--bg-blue);
}

h3 {
  font-size: 2.25rem;
  color: var(--color-black);
  font-weight: 700;
}

p {
  font-size: 0.875rem;
  color: var(--gray);
}

.meal-action-icon {
  width: 3rem;
  height: 3rem;
  background-color: var(--third-color);
  color: var(--main-color);
  border-radius: 12px;
  border: none;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.meal-action-icon:hover {
  background-color: #ffd7a8;
  color: var(--main-color);
  cursor: pointer;
}

.time-warning {
  background-color: #fef2f2;
  border-left: 4px solid #fb2c36;
  display: none;
}

.warning-icon {
  margin-right: 0.75rem;
  font-size: 1.25rem;
  color: #fb2c36;
}

.warning-text p:nth-of-type(1) {
  color: #9f0712;
}

.warning-text p:nth-of-type(2) {
  color: #e7000b;
  font-size: 0.875rem;
}

.nav-pills {
  border-bottom: 1px solid #ebe6e7;
}

.nav-pills .nav-item .nav-link {
  color: var(--light-gray);
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 0;
}

.nav-pills .nav-item .nav-link:hover {
  color: var(--color-black);
}

.nav-pills .nav-item .nav-link.active {
  background-color: transparent;
  color: var(--second-color);
  border-bottom: 2px solid var(--second-color);
}

#pills-ingredients {
  background-color: #fff7ed;
}

.ingredients-list,
.instructions-list {
  list-style: none;
  counter-reset: item;
}

.ingredients-list li,
.instructions-list li {
  counter-increment: item;
  display: flex;
  color: var(--dark-gray);
}

.ingredients-list li::before,
.instructions-list li::before {
  content: counter(item);
  font-weight: 700;
  background-color: var(--main-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredients-list li::before {
  margin-right: 0.75rem;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

.instructions-list li::before {
  width: 3rem;
  height: 3rem;
  margin-right: 16px;
  font-size: 1.25rem;
  border-radius: 1rem;
}

#pills-nutrition .inner {
  background-color: #fbf9fa;
  padding: 1rem;
}

#pills-nutrition i {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.75rem;
}

.calories .inner > span,
.protein .inner > span,
.carbohydrates .inner > span,
.fat .inner > span,
.fiber .inner > span,
.sodium .inner > span {
  color: var(--color-black);
  font-size: 1.25rem;
  font-weight: 700;
}

.calories i {
  color: #f54a00;
  background-color: #ffedd4;
}

.protein i {
  color: #155dfc;
  background-color: #dbeafe;
}

.carbohydrates i {
  color: #d08700;
  background-color: #fef9c2;
}

.fat i {
  color: #e7000b;
  background-color: #ffe2e2;
}

.fiber i {
  color: #00a63e;
  background-color: #dcfce7;
}

.sodium i {
  color: #e60076;
  background-color: #fce7f3;
}

#pills-chef-tips ul li {
  background-color: #fffbeb;
  margin-bottom: 1rem;
  padding: 1rem;
  border-left: 4px solid #ffb900;
  color: var(--dark-gray);
}

#pills-chef-tips ul li i {
  color: #e17100;
  font-size: 1.25rem;
  margin-right: 0.75rem;
  margin-top: 0.25rem;
}

.btn {
  background: linear-gradient(to right, var(--main-color), var(--second-color));
  color: white;
  transition: all 0.3s;
  padding: 0.75rem 1.5rem;
  margin-top: 45px;
}

.btn:hover {
  color: white;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  nav p {
    font-size: 0.875rem;
  }

  .nav-item i {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.125rem;
  }

  .calories div span {
    font-size: 1rem;
  }
}
